*{
    margin: 0;
    padding: 0;
}

.valider{
    justify-self: flex-end;
    align-self: flex-end;
}
.card-img{
    width: 60px;
    height: 66px;
}

.price{
    padding: 15px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}